body {
    font-family: "Roboto";
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
    line-height:1.6;
    font-size: calc(10px + .5vw);
    color:#454545;
}
a {
    text-decoration: none;
    color: #454545;
}
#main {
    overflow: hidden;
    height: 100%;
}

.sidenav .active {
    color: #fff;
}
